/* General Styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #6200ea;
  padding: 5px;
  /* text-align: center; */
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-top: 10px;
}

form {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin: 10px 0;
  font-size: 12px;
  cursor: pointer;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 5px;
}

input[type="checkbox"] {
  margin-right: 0px;
  font-size: 12px;
}

main {
  padding: 20px;
}

section {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

h2 {
  color: #6200ea;
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  background-color: #f4f4f9;
  margin: 10px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skill-item {
  background-color: #f4f4f9;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skill-item p {
  margin: 0;
  font-size: 1.1rem;
  color: #333;
}

.experience-item {
  background-color: #f4f4f9;
  padding: 15px;
  border-radius: 5px;
  margin: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.experience-item h3 {
  margin: 0 0 10px 0;
  color: #6200ea;
}

.experience-item p {
  margin: 0 0 10px 0;
  font-size: 1rem;
  color: #555;
}

.experience-item ul {
  margin: 0;
  padding-left: 20px;
}

.experience-item ul li {
  margin: 5px 0;
  font-size: 0.95rem;
  color: #333;
}

